* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgrey;
  z-index: 1000;
  opacity: 0.8;
}

header .logo {
  color: 715EA8;
  font-size: 30px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 700;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  padding: 5px 10px;
  /*color: #fff;*/
  color: black;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

header ul li a.active {
  background: #ff2067;
}

header ul li a:hover {
  background: #ff2067;
}

.toggle {
  display: none;
}











section .home {
  height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: row;

}

section .home .homeleft {
  background-image: url(../images/acl_bands.png), url(../images/homeleft1.jpg);
  flex: 3.5;
  background-position: top 100px center, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

section .home .homeleft h1 {
  color: grey;
  text-shadow: 2px 2px 3px lightgrey;
  font-size: 30px;
  text-align: left;
  padding-left: 25%;
  margin-top: 65vh;
  font-family: "DIN", lato, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", sans-serif;
}

section .home .homeleft p {
  color: #424242;
  width: 360px;
  font-size: 15px;

  text-align: left;
  padding-left: 25%;
  font-family: "DIN", lato, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", sans-serif;
}


section .home .homeright {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F7F7F7;
  flex: 2;
  padding-top: 8%;
  padding-left: 6%;
  padding-right: 5%;

}
section .home .homeright p {
  font-family: "DIN", lato, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  color: #424242;
}

section .home .homeright h2 {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  /*color: #075199;*/
  color : #5076B4;
  margin: -3px 0 8px;
  font-family: "DIN", lato, "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", sans-serif;
}


section .home .homeright .button {
 
  height: fit-content;
  width: fit-content;
  color: D8D8D8;
  background: #e0e0e0;
  background-color: #F7F7F7;
  box-shadow: 1px 1px 3px #bebebe,
      -1px -1px 3px #ffffff;
  border-radius: 20px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 7px;
  margin-left: 80%;
}





section .home .homeright .button p {
  color: grey;
  text-shadow: 1px 1px 3px #bebebe,
      -1px -1px 3px #ffffff;
  font-size: 20px;
  text-align: center;
}

section .home .homeright .button:hover {
  background-color: #e0e0e0;
  border-width: 2px;
  border-style: solid;
  border-color: #A25189;
}



section .home .homeright .button:hover p {

  text-shadow: 0px 0px 0px #bebebe,
      -0px -0px 0px #ffffff;

  color: #775EA6;
}

















@media (max-width:992px) {
  section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
  }



  header ul {
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: calc(100vh - 80px);
      padding: 50px 100px;
      text-align: center;
      overflow: auto;
      transition: 0.5s;
      background: #111;
      flex-direction: column;
      opacity: 0;
      transform: translateY(-100%);
  }

  header.active ul {
      opacity: 1;
      top: 80px;
      transform: translateY(0);
  }

  header ul li a {
      margin: 5px 0;
      font-size: 24px;
  }

  header .logo {

      font-size: 25px;
  }

  .toggle {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      cursor: pointer;
  }

  .toggle:before {
      content: '';
      position: absolute;
      top: 4px;
      width: 100%;
      height: 2px;
      background: #fff;
      z-index: 1;
      box-shadow: 0 10px 0 #fff;
      transition: 0.5s;
  }

  .toggle:after {
      content: '';
      position: absolute;
      bottom: 4px;
      width: 100%;
      height: 2px;
      background: #fff;
      z-index: 1;

  }

  header.active .toggle:before {
      top: 14px;
      transform: rotate(45deg);
      box-shadow: 0 0 0 #fff;
  }

  header.active .toggle:after {
      bottom: 14px;
      transform: rotate(-45deg);

  }

  section img {
      width: 100%;
  }

  .box {
      margin-top: 50px;
      width: 100%;
  }

  section .home {
      height: 100vh;
      width: 100%;
      background-color: red;
      display: flex;
      flex-direction: column;
  }

  section .home .homeleft {
      background-color: yellow;

      flex: 1;
  }

  section .home .homeright {
      background-color: green;

      flex: 1;
  }


}








@media (max-width:480px) {
  header .logo {

      font-size: 20px;

  }

  section .home {
      height: 100vh;
      width: 100%;
      background-color: red;
      display: flex;
      flex-direction: column;
  }

  section .home .homeleft {
      background-color: yellow;

      flex: 1;
  }

  section .home .homeright {
      background-color: green;

      flex: 1;
  }

}